body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    justify-content: stretch;
    min-width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    gap: 20px;
    
    
    
    
    
    
}
.logopic{ 
    
    width: 100px;
    height: auto;

}
.header{
    background-color: #1f2937;
    min-width: 100%;
    
    display: flex;
    flex-direction: column;
    color: aliceblue;

   
}
 .text-head{
    font-size: smaller;
    padding-bottom: 20px;
 }

.header-columns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.hcol1{
    padding-bottom: 10px;
   

}
.hcol2{
    padding-bottom: 5px;
    
    
}
button{
    background-color: #3882F6;
    border-radius: 4px;
    color: aliceblue;
    margin: 0;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    
    text-align: center;
    


}
.fs{
    
    height: 200px;
    width: auto;
}

.box{
    height: 150px;
    width: auto;
    border: 2px solid blue;
    
    
    border-radius: 5px;
}
.content-box{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}
.box-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: smaller;
    padding-bottom: 10px;
}


.footer{
    flex: 1;
    margin: 40px;
    padding: 30px 120px;
    border-radius: 5px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
}

.content-box{
    
 }
.quote{
    background-color: #c1c6ce;
   
    font-size: 36px;
    font-style: italic;
    
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.author{
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-align: right;
}
.footer-col1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.inverted-button{
    border-radius: 4px;
    background-color: #3882F6;
    color: aliceblue;
    
    margin: 0;
    text-decoration: none;
    border: solid 2px aliceblue;
    padding: 10px 20px;
    
    text-align: center;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    color: aliceblue;
    margin: 0px;
   
    
}
ul{
    padding: 0px;
    list-style-type: none;
    display: flex;
    gap: 10px;
    
    margin-bottom: 15px;
    
}
img{
    display: flex;
    
}
.copyright{
    
    
    
    min-width: 100%;
    flex-grow: 1;
    background-color: #1f2937;
    padding: 20px;
    text-align: center;
    color: aliceblue;
    
    
}


html{
    height: 100%;
}

